target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.classpath
.factorypath
.project
.settings
### IntelliJ IDEA ###
.idea
*.iml
### NetBeans ###
### VS Code ###
.vscode/
